* {
    margin: 0;
    padding: 0;

}
body {
    background-color: #FFFF;
    
    
}
.Logo {
    width: 120px;
    float: left;
    margin-left: 30px;
    border-radius: 50%;
    border-color: black;
    }


header {
    height: 150px;
    padding-top: 10px;
    display: flex;
    background-color: #cbae99;
}

.titulo {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 40px;
    margin-left: 160px;   text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 30px;
    padding-top: 60px;
}

.menu { 
    margin-left: 50px;
}

.Monica, .Rachel, .Phoebe {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: .875rem;
    padding-top: 65px;
}

.TESTE{
    text-decoration: none;
    color: black;
}

main {
    padding-bottom: 100px;
    display: flex; 

}

.Clubs, .Books, .Tellme {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: 35px;
}

.Clubs {
    margin-left: 120px; /* Mantém o espaço à esquerda */
}

.Books {
    margin-left: 220px; /* Mantém o espaço à direita */
}

.Tellme {
    margin-left: 270px; /* Mantém o espaço à direita */
}


.image {
    width: 70px;
    margin-left: 220px; 

}



.zoom {
    font-size: small;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}





main {
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 800px;
    margin: 0;
    padding: 0;
    background-color: #faf4f6;
}

#Black {
    display: inline-flex;
    height: 650px;
    width: 100%;
}

.Pop {
    font-family: Arial, Helvetica, sans-serif ;
    margin-left: 20px;
    padding-top: 30px;
}

.Stars {
    padding-top: 70px;
    font-family: Arial, Helvetica, sans-serif ;
    text-align: left;
}

hr{
    border: none;
    height: 2px;
    width: 1000px;
    margin-top: 280px;
    margin-right: -1100px; /* Alinha à esquerda */
    background-color: #aaa;
}

.spring {
    width: 150px;
    height: 150px;
    padding-top: 20px;
    margin-left: 20px;
}

#pizza {
    display: inline-flex;
    height: 400px;
    width: 900px;
}
.Tae {
    width: 150px;
    height: 190px;
    margin-top: 300px;
    margin-right: 60px;
   
}

#Young {
    font-family: Arial, Helvetica, sans-serif ;
    margin-left: 100px;
    margin-top: 250px;
}

#StarPlatinum {
    padding: 10px;
    width: 600px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    height: 60px;
}

.Miss {
    width: 150px;
    height: 150px;
    padding-top: 250px;
    margin-right: 500px 
}

#c3po {
    background-color: #aaa;
}